html, body {
    font: 1em arial;
    margin: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

#warning {
    background: rgba(55, 55, 55, 0.15);
    display: none;
}

#warning > p {
    margin: 0;
    paddin: 0;
}

#controls {
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 240px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

#controls strong {
    font-size: 1.4em;
}

#controls > div {
    justify-content: center;
    margin: 0 auto;
}

#controls > div > * {
    width: 90%;
    display: inline-block;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}
.red {
    background-color: #fdae61;
}

.blue {
    background-color: #abd9e9;
}

#modal {
    display: none;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    left : 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

#modal-inner {
    margin: 0 auto;
    width: 400px;
    max-width: 90%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    overflow-y: auto;
}

#modal-inner > div {
    padding: 20px;
}

.exit {
    color: #594c3d;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 26px;
    font-weight: lighter;
}

.exit:hover {
    color: black;
    cursor: pointer;
}

#geoloc:disabled {
    cursor: default !important;
}

@media only screen and (max-width: 600px) {
    html, body {
        font: 0.9em arial;
    }
    #controls {
        top: 0;
        left: 0;
        max-width: 100%;
        padding: 5px;
    }

    #controls > div > * {
        margin: 2px auto;
    }

    #controls > div > span {
        width: 40%;
    }

    #controls > div {
        display: flex;
    }
}
